{% extends 'base.html' %}
{% block title %}
 home page
{% endblock %}
{% block body %}
<div  class='container text-center '>
<img src='/static/i.jpg' width=90%, height='720'>
  <div class='row'>
<h1 class='mt-5'>About the page </h1>
    <div class='col'>
  <p>
     "Stay ahead of the curve with our latest job listings."
      "Never miss out on your dream job again – stay connected!"
      "Explore endless career possibilities right at your fingertips."
      "Empower your career journey with real-time job alerts."
    "Discover exciting job opportunities tailored just for you."
    "Join our community and be the first to know about new job openings."
    "Unlock your potential with our comprehensive job search platform."
    "Stay informed, stay inspired – your next career move starts here."
    "Don't let opportunities pass you by – subscribe for job updates today!"
    "Elevate your career with our curated selection of job postings."
  </p>
    </div>
    <div class='col'>
 
  <img src='/static/team.jpg' width=50% height=200>
    </div>
  </div>
  <div>
    this page should be organised

  </div>
  
</div>


{% endblock %}